In [1]:
import numpy as np   
import pandas as pd    
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [2]:
    
dataset = pd.read_csv('nba (1).csv')

In [13]:
dataset.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [14]:
dataset.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [15]:
    dataset.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [17]:
mode = dataset['College'].mode()[0]
#return most freq value as we have used[0]
dataset['College'].fillna(mode,inplace=True)
#ensures the changes are made directly to the dataset, and no new object is returned.

In [25]:
dataset['College'].isnull().sum().sum()

0

In [29]:
dataset['College'].unique()

array(['Texas', 'Marquette', 'Boston University', 'Georgia State',
       'Kentucky', 'LSU', 'Gonzaga', 'Louisville', 'Oklahoma State',
       'Ohio State', 'Washington', 'North Carolina', 'Arizona',
       'Georgia Tech', 'Cincinnati', 'Miami (FL)', 'Stanford', 'Syracuse',
       'Saint Louis', 'Kansas', 'Georgetown', 'Texas A&M', 'UCLA', 'UNLV',
       'Wichita State', "Saint Joseph's", 'Notre Dame', 'Norfolk State',
       'Duke', 'Murray State', 'Tennessee State', 'Bowling Green',
       'Purdue', 'Wake Forest', 'Michigan', 'Missouri', 'USC',
       'Villanova', 'Rider', 'Utah', 'Belmont', 'Davidson', 'Vanderbilt',
       'Michigan State', 'Florida', 'Washington State', 'Arizona State',
       'Oklahoma', 'Wyoming', "St. John's", 'Maryland', 'Wisconsin',
       'Utah Valley', 'North Carolina State', 'UC Santa Barbara',
       'Baylor', 'Connecticut', 'Oregon State', 'New Mexico', 'Oregon',
       'Creighton', 'Arkansas', 'Memphis', "Saint Mary's", 'Tennessee',
       'Alabama', 'Georgia', 'Colorado', 'Boston College', 'Temple',
       'Fresno State', 'IUPUI', 'Eastern Washington', 'Western Michigan',
       'Virginia', 'Northeastern', 'Western Kentucky', 'Nevada',
       'Illinois', 'Kansas State', 'Charleston', 'Clemson',
       'Blinn College', 'Providence', 'Detroit', 'Rhode Island',
       'California', 'Cleveland State', 'Iowa State', 'Florida State',
       'Long Beach State', 'Penn State', 'Indiana', 'San Diego State',
       'Western Carolina', 'Houston', 'Xavier', 'Old Dominion',
       'Minnesota', 'Louisiana Tech', 'Bucknell', 'Pittsburgh',
       'Virginia Commonwealth', 'Harvard', 'Marshall', 'Iowa',
       'St. Bonaventure', 'Louisiana-Lafayette', 'Colorado State',
       'Virginia Tech', 'DePaul', 'Morehead State', 'Central Michigan',
       'Weber State', 'Lehigh', 'Westchester CC', 'Dayton', 'Butler'],
      dtype=object)

In [30]:
dataset.shape

(458, 9)

In [31]:
dataset.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [33]:
dataset['Age'].describe()
#measure of central tendamcy

count    457.000000
mean      26.938731
std        4.404016
min       19.000000
25%       24.000000
50%       26.000000
75%       30.000000
max       40.000000
Name: Age, dtype: float64

In [34]:
#for midrange max + min /2
midrange = (dataset['Age'].min() + dataset['Age'].max())/2

In [36]:
print(midrange)

29.5

In [39]:
data = dataset["Age"].dropna()

In [40]:
#mean sum /total

print(sum(data) / len(data))

26.938730853391686

In [45]:
#median
data =sorted(data)
leht = len(data)
if leht /2 != 0:
    median = data[leht // 2]
else:
    median = (data[n // 2 - 1] + data[n // 2]) / 2
print(median)

26.0

In [44]:
data.median()

26.0

In [46]:
from collections import Counter
# Count the frequency of each value
count = Counter(data)

# Find the maximum frequency
max_frequency = max(count.values())
# Find all values that have the maximum frequency (mode)
modes = [k for k, v in count.items() if v == max_frequency]

print(modes)

[24.0]

In [48]:
dataset['Age'].mode()

0    24.0
Name: Age, dtype: float64

In [50]:
range = max(dataset['Age']) - min(dataset['Age'])
print(range)

21.0

In [5]:

# Define bins and labels (bins should be one more than labels)
bins = [19, 25, 30, 35, 40, float('inf')]  
labels = ['Mid-Age1', 'Mid-Age2', 'Mid-Age3', 'Mid-Age4', 'Senior']

# Categorizing age into a new column
dataset['Age Group'] = pd.cut(dataset['Age'], bins=bins, labels=labels, right=False)

In [12]:
dataset.groupby('Age Group')['Salary'].describe()

/tmp/ipykernel_5764/613652038.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dataset.groupby('Age Group')['Salary'].describe()

,count,mean,std,min,25%,50%,75%,max
Age Group,,,,,,,,
Mid-Age1,150.0,2.706212e+06,3.188468e+06,30888.0,960457.0,1654380.0,3095650.0,16407501.0
Mid-Age2,177.0,5.698207e+06,5.547491e+06,55722.0,1015421.0,3533333.0,9000000.0,20158622.0
Mid-Age3,89.0,7.084467e+06,6.142556e+06,200600.0,2250000.0,5219169.0,10151612.0,22970500.0
Mid-Age4,27.0,3.733495e+06,4.754320e+06,222888.0,947276.0,2854940.0,4294009.5,25000000.0
Senior,3.0,4.666917e+06,4.155421e+06,250750.0,2750375.0,5250000.0,6875000.0,8500000.0

In [9]:
dataset.groupby('Age')['Salary'].describe()

,count,mean,std,min,25%,50%,75%,max
Age,,,,,,,,
19.0,2.0,1.930440e+06,2.791658e+05,1733040.0,1831740.00,1930440.0,2029140.00,2127840.0
20.0,19.0,2.725791e+06,1.510913e+06,525093.0,1636920.00,2481720.0,3954720.00,5703600.0
21.0,19.0,2.067380e+06,1.412350e+06,525093.0,1235480.00,1584480.0,2084940.00,5758680.0
22.0,26.0,2.357963e+06,1.517378e+06,525093.0,1169190.00,1793880.0,3366732.75,6331404.0
23.0,39.0,2.034746e+06,2.728292e+06,30888.0,637546.50,1175880.0,2736120.00,16000000.0
24.0,45.0,3.785300e+06,4.803384e+06,525093.0,900000.00,1509360.0,3873398.00,16407501.0
25.0,44.0,3.930867e+06,4.558463e+06,55722.0,947276.00,1305660.0,5856823.00,15851950.0
26.0,36.0,6.866566e+06,6.100471e+06,134215.0,1336790.50,3325000.0,12562500.00,17120106.0
27.0,40.0,6.676741e+06,6.831984e+06,55722.0,1030105.25,3425510.0,11708292.75,20158622.0
28.0,30.0,5.110189e+06,4.316627e+06,206192.0,1740131.50,4194803.5,6230008.50,19689000.0
29.0,27.0,6.224177e+06,4.870706e+06,111444.0,1910000.00,5543725.0,9431741.50,16407500.0
30.0,30.0,7.061859e+06,5.408670e+06,947276.0,2977205.00,5867803.0,9250000.00,22359364.0
31.0,22.0,8.511397e+06,7.170163e+06,947276.0,3000000.00,5439487.0,13475000.00,22970500.0
32.0,13.0,7.716958e+06,7.451336e+06,295327.0,3135000.00,5200000.0,11217391.00,22875000.0
33.0,14.0,3.930739e+06,4.354293e+06,200600.0,1119326.00,2300000.0,4040084.50,13000000.0
34.0,10.0,7.606030e+06,5.653035e+06,261894.0,4512750.00,6280675.5,9103916.25,20000000.0
35.0,8.0,3.461740e+06,2.364690e+06,947276.0,1361209.25,3302470.0,4811619.75,7448760.0
36.0,10.0,2.238120e+06,1.550061e+06,947276.0,947276.00,1809826.0,2888735.00,5675000.0
37.0,3.0,1.277778e+07,1.071517e+07,5000000.0,6666667.00,8333334.0,16666667.00,25000000.0
38.0,4.0,1.840041e+06,1.496661e+06,222888.0,766179.00,1880638.0,2954500.00,3376000.0
39.0,2.0,2.517872e+06,2.220522e+06,947726.0,1732799.25,2517872.5,3302945.75,4088019.0
40.0,3.0,4.666917e+06,4.155421e+06,250750.0,2750375.00,5250000.0,6875000.00,8500000.0

In [56]:
# Variance (sample) ddof =0 population
variance = np.var(dataset['Age'], ddof=0)

In [57]:
print(variance)

19.35292005228658

In [58]:
# Variance (sample) ddof =1 sample
variance = np.var(dataset['Age'], ddof=1)

In [59]:
print(variance)

19.395360666436332

In [64]:
# Standard Deviation (sample) 
std_deviation = np.std(dataset['Age'], ddof=1)

In [65]:
print(std_deviation)

4.404016424405833

In [66]:
std_deviation = np.std(dataset['Age'] ,ddof=0)
print(std_deviation)

4.399195386918678

In [69]:

# Calculate Quartiles using numpy
Q1 = np.percentile(sorted(dataset['Age'].dropna()), 25)
Q2 = np.percentile(sorted(dataset['Age'].dropna()), 50)  # Median
Q3 = np.percentile(sorted(dataset['Age'].dropna()), 75)
print(f"Q1: {Q1}")
print(f"Q2 (Median): {Q2}")
print(f"Q3: {Q3}")

Q1: 24.0
Q2 (Median): 26.0
Q3: 30.0

In [13]:
dataset = pd.read_csv("Iris.csv")  
dataset.shape

(150, 6)

In [5]:
dataset.Species.value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [7]:
def basic_statistics(df):
    print("\nIris-setosa")
    
    print(df[df.Species=='Iris-setosa'].describe().transpose())
    print("\nIris-versicolor")
    print(df[df.Species=='Iris-versicolor'].describe().transpose())
    print("\nIris-virginica")
    print(df[df.Species=='Iris-virginica'].describe().transpose())
basic_statistics(dataset)

Iris-setosa
               count    mean        std  min     25%   50%     75%   max
Id              50.0  25.500  14.577380  1.0  13.250  25.5  37.750  50.0
SepalLengthCm   50.0   5.006   0.352490  4.3   4.800   5.0   5.200   5.8
SepalWidthCm    50.0   3.418   0.381024  2.3   3.125   3.4   3.675   4.4
PetalLengthCm   50.0   1.464   0.173511  1.0   1.400   1.5   1.575   1.9
PetalWidthCm    50.0   0.244   0.107210  0.1   0.200   0.2   0.300   0.6

Iris-versicolor
               count    mean        std   min     25%    50%    75%    max
Id              50.0  75.500  14.577380  51.0  63.250  75.50  87.75  100.0
SepalLengthCm   50.0   5.936   0.516171   4.9   5.600   5.90   6.30    7.0
SepalWidthCm    50.0   2.770   0.313798   2.0   2.525   2.80   3.00    3.4
PetalLengthCm   50.0   4.260   0.469911   3.0   4.000   4.35   4.60    5.1
PetalWidthCm    50.0   1.326   0.197753   1.0   1.200   1.30   1.50    1.8

Iris-virginica
               count     mean        std    min      25%     50%      75%  \
Id              50.0  125.500  14.577380  101.0  113.250  125.50  137.750
SepalLengthCm   50.0    6.588   0.635880    4.9    6.225    6.50    6.900
SepalWidthCm    50.0    2.974   0.322497    2.2    2.800    3.00    3.175
PetalLengthCm   50.0    5.552   0.551895    4.5    5.100    5.55    5.875
PetalWidthCm    50.0    2.026   0.274650    1.4    1.800    2.00    2.300

                 max
Id             150.0
SepalLengthCm    7.9
SepalWidthCm     3.8
PetalLengthCm    6.9
PetalWidthCm     2.5

In [20]:
# Group the data by species
species_groups = dataset.groupby('Species')

# Display statistical details for each species
for species, group in species_groups:
    print(group.shape)
    print(f"Statistics for {species}:")
    # Mean
    print("Mean:")
    print(group.mean(numeric_only=True), "\n")
    
    # Standard Deviation
    print("Standard Deviation:")
    print(group.std(numeric_only=True), "\n")
    
    # Percentiles (25th, 50th, and 75th)
    print("Percentiles:")
    print(np.percentile(group.drop(columns=['Species']), [25,50,75], axis=0), "\n")
    
    # Min and Max
    print("Min and Max:")
    print(group.min(), group.max(), "\n")

(50, 6)
Statistics for Iris-setosa:
Mean:
Id               25.500
SepalLengthCm     5.006
SepalWidthCm      3.418
PetalLengthCm     1.464
PetalWidthCm      0.244
dtype: float64

Standard Deviation:
Id               14.577380
SepalLengthCm     0.352490
SepalWidthCm      0.381024
PetalLengthCm     0.173511
PetalWidthCm      0.107210
dtype: float64

Percentiles:
[[13.25   4.8    3.125  1.4    0.2  ]
 [25.5    5.     3.4    1.5    0.2  ]
 [37.75   5.2    3.675  1.575  0.3  ]]

Min and Max:
Id                         1
SepalLengthCm            4.3
SepalWidthCm             2.3
PetalLengthCm            1.0
PetalWidthCm             0.1
Species          Iris-setosa
dtype: object Id                        50
SepalLengthCm            5.8
SepalWidthCm             4.4
PetalLengthCm            1.9
PetalWidthCm             0.6
Species          Iris-setosa
dtype: object

(50, 6)
Statistics for Iris-versicolor:
Mean:
Id               75.500
SepalLengthCm     5.936
SepalWidthCm      2.770
PetalLengthCm     4.260
PetalWidthCm      1.326
dtype: float64

Standard Deviation:
Id               14.577380
SepalLengthCm     0.516171
SepalWidthCm      0.313798
PetalLengthCm     0.469911
PetalWidthCm      0.197753
dtype: float64

Percentiles:
[[63.25   5.6    2.525  4.     1.2  ]
 [75.5    5.9    2.8    4.35   1.3  ]
 [87.75   6.3    3.     4.6    1.5  ]]

Min and Max:
Id                            51
SepalLengthCm                4.9
SepalWidthCm                 2.0
PetalLengthCm                3.0
PetalWidthCm                 1.0
Species          Iris-versicolor
dtype: object Id                           100
SepalLengthCm                7.0
SepalWidthCm                 3.4
PetalLengthCm                5.1
PetalWidthCm                 1.8
Species          Iris-versicolor
dtype: object

(50, 6)
Statistics for Iris-virginica:
Mean:
Id               125.500
SepalLengthCm      6.588
SepalWidthCm       2.974
PetalLengthCm      5.552
PetalWidthCm       2.026
dtype: float64

Standard Deviation:
Id               14.577380
SepalLengthCm     0.635880
SepalWidthCm      0.322497
PetalLengthCm     0.551895
PetalWidthCm      0.274650
dtype: float64

Percentiles:
[[113.25    6.225   2.8     5.1     1.8  ]
 [125.5     6.5     3.      5.55    2.   ]
 [137.75    6.9     3.175   5.875   2.3  ]]

Min and Max:
Id                          101
SepalLengthCm               4.9
SepalWidthCm                2.2
PetalLengthCm               4.5
PetalWidthCm                1.4
Species          Iris-virginica
dtype: object Id                          150
SepalLengthCm               7.9
SepalWidthCm                3.8
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

In [10]:
dataset.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [14]:
species_groups = dataset.groupby('Species')

# Display statistical details for each species
for species, group in species_groups:
    print(group.shape)
    print(f"Statistics for {species}:")
    # Mean
    group.describe()

(50, 6)
Statistics for Iris-setosa:
(50, 6)
Statistics for Iris-versicolor:
(50, 6)
Statistics for Iris-virginica: